<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="node_name"     default="gps_odom_optimization"/>
  <arg name="output"        default="screen"/>
  <arg name="launch_prefix" default=""/>
  <arg name="config_file"   default="$(find gps_odom_optimization)/config/params.yaml"/>
  <arg name="topic_name"    default="odom"/>

  <node name="$(arg node_name)"
        pkg ="gps_odom_optimization"
        type="gps_odom_optimization"
        output="$(arg output)"
        launch-prefix="$(arg launch_prefix)">
    <rosparam file="$(arg config_file)" command="load"/>
    <remap from="/gps_odom_optimization/odom" to="$(arg topic_name)"/>
    <remap from="/gps_odom_optimization/odometry_gps" to="odometry_gps"/>
  </node>

</launch>